<!DOCTYPE html>
<html>
  <head>
    <title>接口返回数据模拟</title>
    <script type="text/javascript" src="/javascripts/jquery-3.1.1.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>  	
    <%- body %>
  </body>
</html>
