<ol class="breadcrumb">
  <li><a href="/">接口首页</a></li>
  <li><span>查询接口</span></li>
</ol>


<form class="form-inline" method="post">
  <div class="form-group">
    <label for="name"></label>
    <input type="text" class="form-control col-sm-10" id="name" name="name" placeholder="清输入要查询的接口名称" style="width:500px">
  </div>
  <button type="submit" class="btn btn-default search">查询接口</button>
</form>

<br>

<% include list.ejs %>